body {
    background-color: #3C3633;
    font-family: 'poppins', sans-serif;
}

#navbar {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 1rem;
    background-color: #3C3633;
    elevation: 10;
}

#navbar .nav-link{
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
}

#navbar .nav-link:hover{
    color: #E0CCBE;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    background-color: #E0CCBE;
    
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler:hover{
    background-color: #D3BBAB;
}

#navbar .navbar-brand{
    color: #E0CCBE;
    font-size: 1.5rem;
}

#Home span{
    color: #E0CCBE
}


#Home abouButton {
    background-color: #E0CCBE;
    color: #3C3633;
    font-size: 1.5rem;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease; /* Smooth transition effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

#Home button:hover {
    background-color: #D3BBAB;
    transform: translateY(-2px); /* Move the button up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow size on hover */
}

#Home a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}


#About h1{
    color: #E0CCBE;
    font-size: 3rem;
    font-weight: 100;
    font-family: 'poppins', sans-serif;
    font-style: italic;
}

#AboutMe{
    Margin-top: 10rem;
}

#Portofolio h1{
    color: #E0CCBE;
    font-size: 3rem;
    font-weight: 100;
    font-family: 'poppins', sans-serif;
    font-style: italic;
    Padding-top: 5rem;
}

#containerPorto1{
    background-color: #B0A695;
    
}

#containerPorto2{
    background-color: #B0A695;
    
}

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #3C3633;
}

.contact100-form-title {
    display: block;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 31px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
}
.input100 {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 31px;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    color: #8f8fa1;
   
}

input.input100 {
    height: 35px;
    padding: 0 20px;
}

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 31px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
}

.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 50px;
    background-color: transparent;
    border-radius: 31px;
    font-family: 'popins', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    position: relative;
    z-index: 1;
}

@media (max-width: 1200px){
    #title-head p h1{
        font-weight: 100;
        font-size: 2.5rem;
    }
}